<!-- The Modal -->
<div class="modal fade bd-example-modal-xl" id="myModalCRUD" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalCRUDTitle"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      
      <div class="modal-body row"><!-- Modal body -->
<div class="col-sm-10" style="border-right: 5px solid #ccc;">
        <form id="myModalForm">
  <div class="form-group row">
    <label class="control-label col-sm-2" for="data">Данные:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" data-table-id="" id="data" placeholder="" name="data" required disabled="disabled">
  </div></div>

  <div  class="form-group row perekross" hidden="hidden">
    <label class="control-label" for="data">Кроссировать данные на:</label>
<div id="winperekross" class="col-sm-12"></div>
</div>

  <div class="blockbtn form-group row">
    <label class="control-label col-sm-2" for="raspred">Распределение:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control autoListData" data-table="raspred" data-table-id="" id="raspred" placeholder="" name="raspred" required>
  </div></div>

  <div class="blockbtn form-group row">
    <label class="control-label col-sm-2" for="number">Телефон:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control autoListData"  data-table="ncatalog" data-table-id="" id="number" placeholder="" name="number" required>
  </div></div>

    <div class="blockbtn form-group row">
    <label class="control-label col-sm-2" for="ncatalog">Имя абонента:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control autoListData" data-table="ncatalog" data-table-id="" id="ncatalog" placeholder="" name="ncatalog" required>
  </div></div>

    <div class="blockbtn form-group row">
    <label class="control-label col-sm-2" for="type">Тип:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control autoListData" data-table="type" data-table-id="" id="type" placeholder="" name="type" required>
  </div></div>

    <div class="blockbtn form-group row">
    <label class="control-label col-sm-2" for="comment">Комментарии:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control textKrossData" id="comment" placeholder="" name="comment" required>
  </div></div>

    <div class="blockbtn form-group row">
    <label class="control-label col-sm-2" for="cabinet">Кабинет:</label>
    <div class="col-sm-10">
    <input type="text" class="form-control textKrossData" id="cabinet" placeholder="" name="cabinet" required disabled="disabled">
  </div></div>



<!-- <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="visibility" name="visibility" checked="true">
    <label class="custom-control-label" for="visibility">Видимость абонента в справочнике (по умолчанию видим)</label>
  </div> -->


</form>
</div>

<div class="col-sm-2">
  <button type="button" class="blockbtn btn btn-success btn-block" onclick="confirmInsert()" id="confirmInsert" hidden>Вставить</button>
  <button type="button" class="blockbtn btn btn-success btn-block" onclick="confirmUpdate()" id="confirmUpdate">Обновить</button>
  <button type="button" class="blockbtn btn btn-danger btn-block" onclick="clearData()" id="clearData">Очистить</button>
  <button type="button" class="blockbtn btn btn-warning btn-block perekr" onclick="pereKross()" id="perekross">Кроссировать</button>
</div>

      </div><!-- Modal body -->

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="mr-auto">
          <!-- <button type="button" class="btn-block"><a class="dropdown-item" href="./table/table.php"  target="_blank" ><span>Таблицы</span></a></button> -->
          <button type="button" class="btn btn-warning" onclick="tabl()">К таблице абонентов</button>
        </div>
        <div><button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button></div>
      </div>

    </div>
  </div>
</div>